.page-container .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
}

.container .row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.row .row-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.row .row-item img {
  max-width: 100%;
}
.container h2 {
  font-weight: normal;
}
.container h2 span {
  font-weight: bold;
  color: #f16623;
}

.row-item h2 {
  color: #f16623;
}
